In [1]:
import pandas as pd
import numpy as np
# test = pd.read_csv('test.csv', encoding='utf-8')
df = pd.DataFrame(columns = ['년도','태풍번호'])

In [2]:
file = pd.read_csv('모든태풍.csv',encoding='cp949')
file_length = len(file)

for i in range(file_length):
    if(file['년도'][i] == '년도'):
        file = file.drop(i)
file.reset_index(drop=True, inplace=True)

tp_no = 0
count = 0
col_i = 0

In [3]:
file.head(20)

      년도 태풍번호              분석시각     위도      경도 태풍등급
0   2012    1  2012-03-29 00:00   9.2N  112.3E   TS
1   2012    1  2012-03-29 06:00   9.5N  112.1E   TS
2   2012    1  2012-03-29 12:00   9.9N  111.7E   TS
3   2012    1  2012-03-29 18:00   9.9N  111.6E   TS
4   2012    1  2012-03-30 00:00   9.8N  111.3E   TS
5   2012    1  2012-03-30 06:00   9.8N  111.1E   TS
6   2012    1  2012-03-30 12:00   9.9N  110.7E   TS
7   2012    1  2012-03-30 18:00   9.9N  110.4E   TS
8   2012    1  2012-03-31 00:00   9.7N  110.1E   TS
9   2012    1  2012-03-31 06:00   9.7N  109.8E   TS
10  2012    1  2012-03-31 12:00   9.7N  109.3E   TS
11  2012    1  2012-03-31 18:00   9.8N    109E   TS
12  2012    1  2012-04-01 00:00   9.8N  108.8E   TS
13  2012    1  2012-04-01 06:00    10N  108.3E   TS
14  2012    1  2012-04-01 12:00  10.9N  107.4E   TS
15  2012    1  2012-04-01 18:00  11.5N  106.7E   TS
16  2012    1  2012-04-02 00:00  12.9N  106.7E   TD
17  2012    2  2012-05-22 00:00    13N  144.2E   TS
18  2012    2  2012-05-22 06:00  13.9N  143.1E   TS
19  2012    2  2012-05-22 12:00  14.3N  142.5E   TS

In [4]:
print(file['위도'][0][:-1])
print(file['경도'][0][:-1])

9.2
112.3

In [5]:
for i in range(0, file_length-1):
    count+=1
    x = file['위도'][i][:-1]
    y = file['경도'][i][:-1]
    df.loc[tp_no,'x'+str(count)] = x
    df.loc[tp_no,'y'+str(count)] = y
    col_i = count*2
    if(file.iloc[i][0] != file.iloc[i+1][0] or file.iloc[i][1] != file.iloc[i+1][1]):
        df.loc[tp_no,'년도'] = file.iloc[i][0]    #년도
        df.loc[tp_no,'태풍번호'] = file.iloc[i][1]    #년도의 태풍번호
#         for j in range(count*2, len(df.columns)-1, 2):
#             df.iloc[tp_no,col_i+2] = x
#             df.iloc[tp_no,col_i+3] = y
        tp_no += 1
        count = 0

TypeError: 'float' object is not subscriptable

In [10]:
len(df.columns)

150

In [17]:
df.iloc[0][2]

'9.2'

In [28]:
tp_no = 0
count = 0
col_i = 0
for i in range(0, file_length-1):
    count+=1
    col_i = count*2
    if(file.iloc[i][0] != file.iloc[i+1][0] or file.iloc[i][1] != file.iloc[i+1][1]):
        for j in range(col_i+2, len(df.columns), 2):
#             df.iloc[tp_no][col_i+2].replace(np.nan, df.iloc[tp_no][col_i])
#             df.iloc[tp_no][col_i+3].replace(np.nan, df.iloc[tp_no][col_i+1])
            df.iloc[tp_no][col_i+2].replace(np.nan, '0')
            df.iloc[tp_no][col_i+3].replace(np.nan, '0')
        tp_no += 1
        count = 0

TypeError: replace() argument 1 must be str, not float

In [25]:
df

,년도,태풍번호,x1,y1,x2,y2,x3,y3,x4,y4,...,x70,y70,x71,y71,x72,y72,x73,y73,x74,y74
0,2012,1,9.2,112.3,9.5,112.1,9.9,111.7,9.9,111.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,2,13,144.2,13.9,143.1,14.3,142.5,15.2,141.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,3,14.9,125.5,15.3,125.3,15.7,124.8,16.6,124.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,4,9.5,142.7,9.6,141.9,9.4,141.1,9.4,140.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012,5,19.1,111.7,18.8,112,18.8,112.5,19.3,112.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,2020,3,18.4,110.1,19.4,108.2,19.8,107.3,19.9,106.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,2020,4,21.3,127.1,22,126,22.6,125.2,23,124.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,2020,5,21.4,126.2,23.3,126,24.4,126.2,27.3,126.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,2020,6,20.3,118.6,21.6,118.6,22.9,118.2,24.1,117.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,2020,7,20.1,117,20.6,115.9,21.2,114.9,21.6,113.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
len(df.columns)

150

In [6]:
for i in range(0,len(df)):
    for j in range(0,len(df.columns),2):
        if(df.iloc[i][j] == None):
            df.iloc[i][j] = df.iloc[i][j-2]
            df.iloc[i][j+1] = df.iloc[i][j-2]

In [7]:
df

,년도,태풍번호,x1,y1,x2,y2,x3,y3,x4,y4,...,x70,y70,x71,y71,x72,y72,x73,y73,x74,y74
0,2012,1,9.2,112.3,9.5,112.1,9.9,111.7,9.9,111.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,2,13,144.2,13.9,143.1,14.3,142.5,15.2,141.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,3,14.9,125.5,15.3,125.3,15.7,124.8,16.6,124.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,4,9.5,142.7,9.6,141.9,9.4,141.1,9.4,140.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012,5,19.1,111.7,18.8,112,18.8,112.5,19.3,112.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,2020,3,18.4,110.1,19.4,108.2,19.8,107.3,19.9,106.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,2020,4,21.3,127.1,22,126,22.6,125.2,23,124.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,2020,5,21.4,126.2,23.3,126,24.4,126.2,27.3,126.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,2020,6,20.3,118.6,21.6,118.6,22.9,118.2,24.1,117.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,2020,7,20.1,117,20.6,115.9,21.2,114.9,21.6,113.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
import requests

In [92]:
url = ""
req = requests.get(url)

html = req.text
header = req.headers
status = req.status_code
is_ok = req.ok
print(header)
print(status)
print(is_ok)

MissingSchema: Invalid URL '': No schema supplied. Perhaps you meant http://?